

<div class="number-input md-number-input" style="margin-top:30px; margin-left: 0px;">
<button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
<input class="quantity" min="0" name="quantity" value="1" type="number">
<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
</div>


<img src="../../../assets/home/trash.png" alt="Responsive image" style="width:25px; margin-top: -170px; margin-left: 220px;">

    
