<div class="container">
    <h1>Carrito</h1>
    <br>

    <div class="card shadow p-3" style="margin-top:30px;">
        <div class="card-body">

          <div class="row">
            <div class="col-2"><img src="../../../assets/home/tenis1.jpg" alt="Responsive image" style="width:150px; margin-top: 20px;">
            </div>
            <div class="col-5">
            <p class="Titulo">Tenis Animal Print de Niña</p>
            <p class="Subtitulo">Color Blanco 201-Talla 20</p>
            <p class="Envio">Envio Gratis</p>
            
            
            
            
            </div>
            <div class="col-3">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cantidad
                </button><img src="../../../assets/home/trash.png" alt="Responsive image" style="width:25px; margin-top: 35px; margin-left: 20px;">
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

            </div>
            <div class="col-2"><p class="Costo">$399</p></div>
          </div>        
        </div>
      </div>


    <div class="card shadow p-3" style="margin-top:30px;">
        <div class="card-body">

          <div class="row">
            <div class="col-2"><img src="../../../assets/home/tenis1.jpg" alt="Responsive image" style="width:150px; margin-top: 20px;">
            </div>
            <div class="col-5">
            <p class="Titulo">Tenis Animal Print de Niña</p>
            <p class="Subtitulo">Color Blanco 201-Talla 20</p>
            <p class="Envio">Envio Gratis</p>
            
            
            
            
            </div>
            <div class="col-3">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cantidad
                </button><img src="../../../assets/home/trash.png" alt="Responsive image" style="width:25px; margin-top: 35px; margin-left: 20px;">
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

            </div>
            <div class="col-2"><p class="Costo">$399</p></div>
          </div>        
        </div>
      </div>


    <div class="card shadow p-3" style="margin-top:30px;">
        <div class="card-body">

          <div class="row">
            <div class="col-2"><img src="../../../assets/home/tenis1.jpg" alt="Responsive image" style="width:150px; margin-top: 20px;">
            </div>
            <div class="col-5">
            <p class="Titulo">Tenis Animal Print de Niña</p>
            <p class="Subtitulo">Color Blanco 201-Talla 20</p>
            <p class="Envio">Envio Gratis</p>
            
            
            
            
            </div>
            <div class="col-3">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cantidad
                </button><img src="../../../assets/home/trash.png" alt="Responsive image" style="width:25px; margin-top: 35px; margin-left: 20px;">
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

            </div>
            <div class="col-2"><p class="Costo">$399</p></div>
          </div>        
        </div>
      </div>
      <br>

    <div style="text-align:right;">
      <p style="font-size:25px;">Envio <span style="color:purple; margin-left: 100px;">Gratis</span></p>
      <p style="font-size:25px; margin-top:-15px;">Total con envio <span style="color:blue; margin-left: 70px; font-size: 40px;">1,596</span></p>
      <button type="button" class="btn btn-primary" style="width:250px; margin-top: -20px;">CONTINUAR COMPRA</button>

    </div>


    </div>

    <br><br><br><br>


