<div class="container" style="margin-top:100px;">

    <h1>Descripción</h1>




      <div class="row">
        <div class="col-3" style="text-align:center;"><img src="../../../assets/home/item1.png" alt="..."></div>
        <div class="col-9">Los equipos Dell se destacan por ofrecer soluciones reales para cada una de las necesidades. Ya sea para conectarte, entretenerte, trabajar o colaborar de manera online, podrás hacerlo de forma segura desde cualquier lugar y en cualquier momento.Los equipos Dell se destacan por ofrecer soluciones reales para cada una de las necesidades. Ya sea para conectarte, entretenerte, trabajar o colaborar de manera online, podrás hacerlo de forma segura desde cualquier lugar y en cualquier momento.</div>
      </div> 
      <br>

      <div class="row">
        <div class="col-9">Su pantalla LCD de 15.5" y 1366x768 px de resolución te brindará colores más vivos y definidos. Tus películas y series preferidas cobrarán vida, ya que ganarán calidad y definición en cada detalleEficiencia a tu alcance
            Su pantalla LCD de 15.5" y 1366x768 px de resolución te brindará colores más vivos y definidos. Tus películas y series preferidas cobrarán vida, ya que ganarán calidad y definición en cada detalleEficiencia a tu alcance
        </div>
        <div class="col-3"style="text-align:center;"><img src="../../../assets/home/item1.png" alt="..."></div>
      </div>

      <div class="row">
        <div class="col-3" style="text-align:center;"><img src="../../../assets/home/item1.png" alt="..."></div>
        <div class="col-9">Los equipos Dell se destacan por ofrecer soluciones reales para cada una de las necesidades. Ya sea para conectarte, entretenerte, trabajar o colaborar de manera online, podrás hacerlo de forma segura desde cualquier lugar y en cualquier momento.Los equipos Dell se destacan por ofrecer soluciones reales para cada una de las necesidades. Ya sea para conectarte, entretenerte, trabajar o colaborar de manera online, podrás hacerlo de forma segura desde cualquier lugar y en cualquier momento.</div>
      </div>

   



    </div>
