.card-text {
    font-size:30px;
    font-weight:bold;
    color: red;
    margin-top:-15px;
}

.Titulo {
    font-size:25px;
    margin-top:-25px;
    font-weight:bold; 
}


.Propiedades {
    margin-top: -20px;
}
.btn-secondary {

    background-color: white;
    width:150px;
    color: black;
    outline-color: #662482;


}

.btn-primary {

    background-image: linear-gradient(-45deg, #28348A, #662482);
    border:0px;
    width:150px;
    color: white;

}

.Precio {  
    font-size: 72px;  
    background: -webkit-linear-gradient(-45deg, #28348A, #662482);
    background: linear-gradient(-45deg, #28348A, #662482);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
  }  



  body {
    padding: 100px;
    font-family: sans-serif;
    text-align: center;


  }
  
  p {
    max-width: 500px;
    margin: auto;
  }
  
  span {
    font-size: calc(1rem * var(--tag-multiplier));
  }

  .border-primary {
    border-color: #28348A!important;
    background: -webkit-linear-gradient(-45deg, #28348A, #662482);
    background: linear-gradient(-45deg, #28348A, #662482);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}




.labels {
  display: flex;
  justify-content: space-between;
  margin-top:20px;

}
.progress {
  height: 5px;
}
.progress-bar {
background: -webkit-linear-gradient(-45deg, #28348A, #662482); /* Chrome10-25,Safari5.1-6 */
}





.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




input#number {
  text-align: center;
  border: none;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  margin: 0px;
  width: 60px;
  height: 40px;
  background-color: white;

}

input#number2 {
  text-align: center;
  border: none;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  margin: 0px;
  width: 60px;
  height: 40px;
  background-color: white;

}

.Envio {

  background: -webkit-linear-gradient(-45deg, #28348A, #662482);
  background: linear-gradient(-45deg, #28348A, #662482);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
margin-left: 170px;

}

.bi-x-square {
  background: -webkit-linear-gradient(-45deg, #28348A, #662482);
  background: linear-gradient(-45deg, #28348A, #662482);
  color: white;
  margin-left: 1350px;

  }











