<div class="container" style="margin-top:50px;">

    <h1>Preguntas y respuestas</h1>

    <h3 style="text-align:center; margin-top:50px;">Ingresa tu Pregunta</h3>


    <div class="row" style="margin-left:5px;">
      <div class="col-12 col-md-10">


        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"> </textarea>
        </div>


      </div>
      <div class="col-6 col-md-2" style="text-align:left; border:0px;">


       <button type="button" class="btn btn-primary" style="">Preguntar</button>

      </div>
    </div>


    

   <br><br><br>











    <div class="Banda">
            <div class="Titulo">It is a long established fact that a reader will be distracted by the readable content of .</div>
    </div>
    <div class="card" style="margin-top:-20px;">
        <div class="card-body">
          <!--<h5 class="card-title">Respuesta</h5>-->
          <p class="card-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using </p>
        </div>
      </div>
      

      <div class="Banda">
        <div class="Titulo">It is a long established fact that a reader will be distracted by the readable content of .</div>
</div>
<div class="card" style="margin-top:-20px;">
    <div class="card-body">
      <!--<h5 class="card-title">Respuesta</h5>-->
      <p class="card-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using </p>
    </div>
  </div>


  <div class="Banda">
    <div class="Titulo">It is a long established fact that a reader will be distracted by the readable content of .</div>
</div>
<div class="card" style="margin-top:-20px;">
<div class="card-body">
  <!--<h5 class="card-title">Respuesta</h5>-->
  <p class="card-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using </p>
</div>
</div>


<div class="Banda">
    <div class="Titulo">It is a long established fact that a reader will be distracted by the readable content of .</div>
</div>
<div class="card" style="margin-top:-20px;">
<div class="card-body">
  <!--<h5 class="card-title">Respuesta</h5>-->
  <p class="card-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using </p>
</div>
</div>

<div class="Banda">
    <div class="Titulo">It is a long established fact that a reader will be distracted by the readable content of .</div>
</div>
<div class="card" style="margin-top:-20px;">
<div class="card-body">
  <!--<h5 class="card-title">Respuesta</h5>-->
  <p class="card-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. The point of using </p>
</div>
</div>
      

</div>



