.Banda {
    background-image: linear-gradient(-45deg, #28348A, #662482);
    border-radius:20px;
    width: 100%; 
    height:50px;
    position: relative; 
    z-index: 2;
    margin-top: -10px;
}

.Titulo {
    padding-top:13px;
    color: white;
    text-align:left;
    font-size:18px;
    font-weight: bold;
    margin-left:20px;
}
.card {
    position: relative; 
    z-index: 1;
}
.card-title {
    margin-top:15px;

}

.btn {
    background-image: linear-gradient(-45deg, #28348A, #662482);
    border:0px;
    width:100px;
    margin-top:10px;
    margin-left: -20px;


    }
