


    <div class="album py-5 bg-white" style="margin-top:-50px;">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio $100</p>
              </div>
          </div>
          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio Gratis</p>
              </div>
          </div>
          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                        
                </div>
                <p class="Costo" style="text-align:right;">Envio Gratis</p>
              </div>
          </div>
  
          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio $100</p>
              </div>
          </div>

          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio Gratis</p>
              </div>
          </div>


          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio Gratis</p>
              </div>
          </div>


          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio Gratis</p>
              </div>
          </div>


          <div class="col">
            <div class="card shadow p-4" style="text-align: center;">
                <div><img src="../assets/home/producto1.png" class="img-fluid" alt="..." style="width:150px; margin-top:25px;"></div>
                <div class="card-body">
                    <img src="../assets/home/etiqueta.png" class="" alt="..." style="width:280px; margin-top:-410px; margin-left:-50px;">
                    <p class="card-text">$200 <del style="color:rgb(100, 100, 100);">$400</del></p>

                  <h5 class="Titulo">Celular Xiaomi</h5>
                        <div class="container">
                            <div class="row">
                            <div class="col">
                                128 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Almacenamiento</p>
                                
                            </div>
                            <div class="col">
                                FULL HD<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Calidad</p>                            
                            </div>
                        </div>
                        </div>

                        <div class="container">
                            <div class="row">
                            <div class="col">
                                4 GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Ram</p>
                                
                            </div>
                            <div class="col">
                                SSD 128GB<br>
                                <img src="../assets/home/sombra.png" class="img-fluid" alt="..." style="margin-top:-25px;">
                                <p class="Propiedades">Expandible</p>                            
                            </div>
                        </div>
                        </div>
                </div>
                <p class="Costo" style="text-align:right;">Envio Gratis</p>
              </div>
          </div>


          
          
        </div>
      </div>
    </div>
