<div class="container">



    <div class="center">

        <p class="Titulo">Compras</p>

        <div class="input-group" style="width:50%;">
            <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" style="color:white;">Buscar</button>
            <p style="margin-left:30px; padding-top:5px;">3 Compras</p>
        </div>
            


<div class="flipCard"> 
    <div class="card" onclick="this.classList.toggle('flipped');"> 
      <div class="side front">


        <div class="card border-0">
            <div class="card-body">
    
    
                <div class="row" style="text-align:center;">
                    <div class="col-4 col-md-4"><p style="float: left; color: grey;">12 Octubre</p></div>
                    <div class="col-4 col-md-4"><p style="font-size:30px; margin-top:-15px;">ADATA</p></div>
                    <div class="col-4 col-md-4"><p style="float:right; color:grey;">
                    
                        <button type="button" class="btn2 btn-primary position-relative border-0" style="background-color:white;">
                            Mensajes
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                              3
                            </span>
                          </button>
                    
                    
                    </p></div>
                </div>
    
                <div class="row">
                    <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/memoria.png" class="" alt="Responsive image" style="width:80px; margin-top: 20px;"></div>
                    <div class="col-6 col-md-7" style="text-align:left;">
                        <p style="color:black; font-size:25px;">Llegó el 13 de octubre </p>
                        <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Puedes devolverlo hasta el domingo 13 de noviembre.</p>
                        <div class="row" style="font-size:15px; margin-top: -20px; width: 550px;">
                            <div class="col-sm">
                            <span style="font-weight:bold;">Calidad:</span> FULL HD
                            </div>
                            <div class="col-sm" >
                            <span style="font-weight:bold;">Expandible:</span> SSD
                            </div>
                            <div class="col-sm">
                            <span style="font-weight:bold;">Categoria:</span> H100
                            </div>
                        </div>
                        <div class="row" style="font-size:15px; margin-top:0px; width: 550px;">
                            <div class="col-sm">
                            <span style="font-weight:bold;">Estado:</span> Solido
                            </div>
                            <!--<div class="col-sm" >
                            <span style="font-weight:bold;">Expandible:</span> SSD
                            </div>
                            <div class="col-sm">
                            <span style="font-weight:bold;">Categoria:</span> H100
                            </div>-->
                        </div>
                        <p>1 Unidad</p>
                
                    
                    </div>
                    <div class="col-6 col-md-3" style="text-align:center;">
                
    
                
                            <button type="button" class="btn btn-secondary btn-sm" style="width:145px; margin-top:15px;">VER COMPRA</button>
                            <button type="button" class="btn btn-secondary btn-sm" style="margin-top:10px;">VOLVER A COMRPAR</button>
                
    
                    </div>
                </div>   
            </div>
        </div>                


      </div> 
      <div class="side back">



        <div class="card border-0">
            <div class="card-body">
    
    
                <div class="row" style="text-align:center;">
                    
                    <div class="col-4 col-md-12"><p style="font-size:30px; margin-top:-15px;">Preguntas y Respuestas</p></div>

                </div>

                <div class="overflow-auto" style="height:140px;">
                    <p>1.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>2.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>3.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>4.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>5.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>6.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    



                </div>


                

                
    
                 
            </div>
        </div>



      </div> 
    </div> 



    


<br><br><br><br><br><br><br><br><br>




<div class="flipCard"> 
    <div class="card border-0" onclick="this.classList.toggle('flipped');"> 
      <div class="side front">


        <div class="card border-0">
            <div class="card-body">
    
    
                <div class="row" style="text-align:center;">
                    <div class="col-4 col-md-4"><p style="float: left; color: grey;">12 Octubre</p></div>
                    <div class="col-4 col-md-4"><p style="font-size:30px; margin-top:-15px;">ADATA</p></div>
                    <div class="col-4 col-md-4"><p style="float:right; color:grey;">
                    
                        <button type="button" class="btn2 btn-primary position-relative border-0" style="background-color:white;">
                            Mensajes
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                              3
                            </span>
                          </button>
                    
                    
                    </p></div>
                </div>
    
                <div class="row">
                    <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/memoria.png" class="" alt="Responsive image" style="width:80px; margin-top: 20px;"></div>
                    <div class="col-6 col-md-7" style="text-align:left;">
                        <p style="color:black; font-size:25px;">Llegó el 13 de octubre </p>
                        <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Puedes devolverlo hasta el domingo 13 de noviembre.</p>
                        <div class="row" style="font-size:15px; margin-top: -20px; width: 550px;">
                            <div class="col-sm">
                            <span style="font-weight:bold;">Calidad:</span> FULL HD
                            </div>
                            <div class="col-sm" >
                            <span style="font-weight:bold;">Expandible:</span> SSD
                            </div>
                            <div class="col-sm">
                            <span style="font-weight:bold;">Categoria:</span> H100
                            </div>
                        </div>
                        <div class="row" style="font-size:15px; margin-top:0px; width: 550px;">
                            <div class="col-sm">
                            <span style="font-weight:bold;">Estado:</span> Solido
                            </div>
                            <!--<div class="col-sm" >
                            <span style="font-weight:bold;">Expandible:</span> SSD
                            </div>
                            <div class="col-sm">
                            <span style="font-weight:bold;">Categoria:</span> H100
                            </div>-->
                        </div>
                        <p>1 Unidad</p>
                
                    
                    </div>
                    <div class="col-6 col-md-3" style="text-align:center;">
                
    
                
                            <button type="button" class="btn btn-secondary btn-sm" style="width:145px; margin-top:15px;">VER COMPRA</button>
                            <button type="button" class="btn btn-secondary btn-sm" style="margin-top:10px;">VOLVER A COMRPAR</button>
                
    
                    </div>
                </div>   
            </div>
        </div>                


      </div> 
      <div class="side back">



        <div class="card border-0">
            <div class="card-body">
    
    
                <div class="row" style="text-align:center;">
                    
                    <div class="col-4 col-md-12"><p style="font-size:30px; margin-top:-15px;">Preguntas y Respuestas</p></div>

                </div>

                <div class="overflow-auto" style="height:140px;">
                    <p>1.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>2.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>3.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>4.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>5.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>6.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    



                </div>


                

                
    
                 
            </div>
        </div>



      </div> 
    </div> 





    

<br><br><br><br><br><br><br><br><br>




<div class="flipCard"> 
    <div class="card" onclick="this.classList.toggle('flipped');"> 
      <div class="side front">


        <div class="card border-0">
            <div class="card-body">
    
    
                <div class="row" style="text-align:center;">
                    <div class="col-4 col-md-4"><p style="float: left; color: grey;">12 Octubre</p></div>
                    <div class="col-4 col-md-4"><p style="font-size:30px; margin-top:-15px;">ADATA</p></div>
                    <div class="col-4 col-md-4"><p style="float:right; color:grey;">
                    
                        <button type="button" class="btn2 btn-primary position-relative border-0" style="background-color:white;">
                            Mensajes
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                              3
                            </span>
                          </button>
                    
                    
                    </p></div>
                </div>
    
                <div class="row">
                    <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/memoria.png" class="" alt="Responsive image" style="width:80px; margin-top: 20px;"></div>
                    <div class="col-6 col-md-7" style="text-align:left;">
                        <p style="color:black; font-size:25px;">Llegó el 13 de octubre </p>
                        <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Puedes devolverlo hasta el domingo 13 de noviembre.</p>
                        <div class="row" style="font-size:15px; margin-top: -20px; width: 550px;">
                            <div class="col-sm">
                            <span style="font-weight:bold;">Calidad:</span> FULL HD
                            </div>
                            <div class="col-sm" >
                            <span style="font-weight:bold;">Expandible:</span> SSD
                            </div>
                            <div class="col-sm">
                            <span style="font-weight:bold;">Categoria:</span> H100
                            </div>
                        </div>
                        <div class="row" style="font-size:15px; margin-top:0px; width: 550px;">
                            <div class="col-sm">
                            <span style="font-weight:bold;">Estado:</span> Solido
                            </div>
                            <!--<div class="col-sm" >
                            <span style="font-weight:bold;">Expandible:</span> SSD
                            </div>
                            <div class="col-sm">
                            <span style="font-weight:bold;">Categoria:</span> H100
                            </div>-->
                        </div>
                        <p>1 Unidad</p>
                
                    
                    </div>
                    <div class="col-6 col-md-3" style="text-align:center;">
                
    
                
                            <button type="button" class="btn btn-secondary btn-sm" style="width:145px; margin-top:15px;">VER COMPRA</button>
                            <button type="button" class="btn btn-secondary btn-sm" style="margin-top:10px;">VOLVER A COMRPAR</button>
                
    
                    </div>
                </div>   
            </div>
        </div>                


      </div> 
      <div class="side back">



        <div class="card border-0">
            <div class="card-body">
    
    
                <div class="row" style="text-align:center;">
                    
                    <div class="col-4 col-md-12"><p style="font-size:30px; margin-top:-15px;">Preguntas y Respuestas</p></div>

                </div>

                <div class="overflow-auto" style="height:140px;">
                    <p>1.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>2.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>3.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>4.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>5.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    <p>6.-BUENAS TARDES INCLULLE TODO COMO SE VE EN LA IMAGEN</p>
                    <p style="color: grey; margin-top:-20px;">Hola. De este tipo de modelo. Es el único tamaño q se maneja. Le dejo el link de un modelo más grande.</p>

                    



                </div>


                

                
    
                 
            </div>
        </div>



      </div> 
    </div> 


    
<br><br><br><br><br><br><br><br><br><br><br><br>