<div class="container">


    <p class="User">
        
        <img src="../../../assets/home/User.png" class="" alt="Responsive image" style="width:90px;">
        
        
        Cristopher Velázquez Hernández
    </p>

    <div class="contenedor2">
        <div class="row" style="width:500px; text-align: center;">
          
          <div class="col-sm-4"><p class="texto2">Saldo:<span style="font-weight: bold; color: black;"> $500</span></p></div>
          <div class="col-sm-4" style="margin-top:15px;">

            <button type="button" class="btn btn-secondary btn-sm" style="margin-top:1px;">Agregar Fondos 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16" style="margin-top:-5px;">
              <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
              <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg></button>

          </div>

          <div class="col-sm-4" style="margin-top:15px;">

            <button type="button" class="btn btn-secondary btn-sm" style="margin-top:1px;">Retirar Fondos
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16" style="margin-top:-5px;">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg></button>

          </div>
  
        </div>
      </div>

<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <div class="row">
                <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/User2.png" class="" alt="Responsive image" style="width:80px; margin-top:10px;"></div>
                <div class="col-6 col-md-8">
                    <p class="Titulo">Mis Datos</p>
                    <p class="Subtitulo">Gestiona tus datos personales</p>
                </div>
                <div class="col-6 col-md-2" style="text-align:center;"><img class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" src="../../../assets/home/arrow.png" class="" alt="Responsive image" style="width:50px; margin-top:25px;"></div>
            </div>
          
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="center">
                <p class="Titulo2">Datos de la cuenta</p>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Usuario</label>
                        <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="ki2isi2ock">
                    </div>
                    <div class="col-sm-2">
                        <div class="contenedor-imagenes">
    
                            <a href="default.asp"><img src="../../../assets/home/edit.png" class="" alt="Responsive image">Modificar</a>
                
                    </div>
                    </div>
                   </div>
                   <br>
    
    
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">E-mail (Principal)</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="krisrockk@gmail.com">
            </div>
       
            <div class="col-sm-2">
                <div class="contenedor-imagenes">

                    <a href="default.asp"><img src="../../../assets/home/edit.png" class="" alt="Responsive image">Modificar</a>
        
            </div>
            </div>
           </div>
    
    
    
      
        <p class="Titulo2">Datos personales</p>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Nombre y Apellido</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPassword" placeholder="Ingresa tu Nombre y Apellidos">
            </div>
            <div class="col-sm-2">
                <div class="contenedor-imagenes">
    
                    <a href="default.asp"><img src="../../../assets/home/save.png" class="" alt="Responsive image" style="width: 40px;">Guardar</a></div>
    
                </div>
            </div>
       </div>

       <div class="center">
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Documento de identificación</label>
            <div class="col-sm-8">
                <input class="form-control" type="file" id="formFile">
        </div>
        <div class="col-sm-1">
            <img src="../../../assets/home/informacion.png" class="" alt="Responsive image">
        </div>

        <div class="center">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Teléfono</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="Ingresa tu Teléfono">
            </div>
            <div class="col-sm-2">
                <div class="contenedor-imagenes">
        
                    <a href="default.asp"><img src="../../../assets/home/save.png" class="" alt="Responsive image" style="width: 40px;">Guardar</a></div>
        
            </div>
        </div>
       
    </div>
    

    </div>
    </div>
    </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <div class="row">
                <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/seguridad.png" class="" alt="Responsive image" style="width:80px; margin-top:10px;"></div>
                <div class="col-6 col-md-8">
                    <p class="Titulo">Seguridad</p>
                    <p class="Subtitulo">Seguridad Confirmada</p>
                </div>
                <div class="col-6 col-md-2" style="text-align:center;"><img class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" src="../../../assets/home/arrow.png" class="" alt="Responsive image" style="width:50px; margin-top:25px;"></div>
            </div>

        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">

                <div class="center">

    <div class="row">
        <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/key.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
        <div class="col-6 col-md-8"><p style="color:black; font-size:30px; ">Clave</p>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="margin-top:-10px;">

        
        </div>
        <div class="col-6 col-md-2">          
            <div class="contenedor-imagenes" style="margin-top:50px;">

                <a href="default.asp"><img src="../../../assets/home/edit.png" class="" alt="Responsive image">Modificar</a>
    
        </div>
        </div>

         <hr style="margin-top:20px;">
        <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/telefono.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
        <div class="col-6 col-md-8"><p style="color:black; font-size:30px; ">Verificación de 2 Pasos</p>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="*********8844" style="margin-top:-10px;">

        
        </div>
        <div class="col-6 col-md-2">
            <div class="contenedor-imagenes" style="margin-top:50px;">

            <a href="default.asp"><img src="../../../assets/home/edit.png" class="" alt="Responsive image">Modificar</a>

        </div>
        </div>

        <hr style="margin-top:20px;">
        <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/clock.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
        <div class="col-6 col-md-7"><p style="color:black; font-size:30px; ">Ultimo inicio de Sesión</p>
        <p style="color:blue;">04/11/2022 / 11:20 am / Google Chrome</p>

        
        </div>
        <div class="col-6 col-md-3" style="text-align:center;">            <p style="margin-top:35px;">Accesos a la Cuenta</p>
        </div>


    </div>
</div>


        </div>
      </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <div class="row">
                <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/cards.png" class="" alt="Responsive image" style="width:80px; margin-top:10px;"></div>
                <div class="col-6 col-md-8">
                    <p class="Titulo">Mis Tarjetas</p>
                    <p class="Subtitulo">Gestiona tus tarjetas</p>
                </div>
                <div class="col-6 col-md-2" style="text-align:center;"><img class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" src="../../../assets/home/arrow.png" class="" alt="Responsive image" style="width:50px; margin-top:25px;"></div>
            </div>
          
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">


            <div class="center">

                <div class="row">
                    <hr>
                    <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/mastercard.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
                    <div class="col-6 col-md-8">
                        <p style="color:black; font-size:25px; ">Terminación: 1008</p>
                        <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Mastercard</p>
                        <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Vencimiento: 11/2026</p>
            
                    
                    </div>
                    <div class="col-6 col-md-2">            <button type="button" class="btn btn-primary">Eliminar</button>
            
                    </div>
            
                     <hr style="margin-top:20px;">
                     <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/mastercard.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
                     <div class="col-6 col-md-8">
                         <p style="color:black; font-size:25px; ">Terminación: 1008</p>
                         <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Mastercard</p>
                         <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Vencimiento: 11/2026</p>
             
                     
                     </div>
                     <div class="col-6 col-md-2">            <button type="button" class="btn btn-primary">Eliminar</button>
            
                     </div>
            
            
                    <hr style="margin-top:20px;">
            
                </div>
                <div style="text-align:center;">
            
            
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-secondary border border-1 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Agregar metodo de pago
                    </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Direcciones</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                     
            
            
                            <form action="#" class="credit-card-div">
                                <div class="panel panel-default" >
                                 <div class="panel-heading">
                                     
                                      <div class="row ">
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" placeholder="Ingresa los 16 dígitos" />
                                              </div>
                                          </div>
                                     <div class="row ">
                                              <div class="col-md-3 col-sm-3 col-xs-3">
                                                  <span class="help-block text-muted small-font" > Mes Expiracion</span>
                                                  <input type="text" class="form-control" placeholder="MM" />
                                              </div>
                                         <div class="col-md-3 col-sm-3 col-xs-3">
                                                  <span class="help-block text-muted small-font" > Año de Expiración</span>
                                                  <input type="text" class="form-control" placeholder="AA" />
                                              </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                  <span class="help-block text-muted small-font" >  CCV</span>
                                                  <input type="text" class="form-control" placeholder="CCV" />
                                              </div>
                                         <div class="col-md-3 col-sm-3 col-xs-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16" style="margin-top:25PX;">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                                              </svg>
                                         </div>
                                          </div>
                                     <div class="row ">
                                              <div class="col-md-12 pad-adjust">
                                
                                                  <input type="text" class="form-control" placeholder="Nombre del Titular" />
                                              </div>
                                          </div>
                                     <div class="row">
                                <div class="col-md-12 pad-adjust">
                                    <div class="checkbox">
                                    <label>
                                      <input type="checkbox" checked class="text-muted"> Guarde los detalles para pagos rápidos.<a href="#"> ¿Aprenda cómo? </a>
                                    </label>
                                  </div>
                                </div>
                                     </div>
                                       <!--<div class="row ">
                                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                                 <input type="submit"  class="btn btn-danger" value="CANCELAR" />
                                              </div>
                                              <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                                  <input type="submit"  class="btn btn-warning btn-block" value="GUARDAR" />
                                              </div>
                                          </div>-->
                                     
                                                   </div>
                                              </div>
                                </form>        
                            
                    
            
            
            
            
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </div>
                    </div>
                </div>
            
            
                
                
            
            </div>


        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <div class="row">
                <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/street.png" class="" alt="Responsive image" style="width:80px; margin-top:10px;"></div>
                <div class="col-6 col-md-8">
                    <p class="Titulo">Direcciones</p>
                    <p class="Subtitulo">Modifica tus direcciones o agrega una nueva.</p>
                </div>
                <div class="col-6 col-md-2" style="text-align:center;"><img class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" src="../../../assets/home/arrow.png" class="" alt="Responsive image" style="width:50px; margin-top:25px;"></div>
            </div>

          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">


            <div class="row">
                <hr style="margin-left: 5px;">
                <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/direcciones.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
                <div class="col-6 col-md-7">
                    <p style="color:black; font-size:25px; ">Coyotepec 3</p>
                    <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Código postal 54740 - Estado De México - Cuautitlan Izcalli
                        Cristopher Velazquez Hernandez - 5532067806</p>
            
                
                </div>
                <div class="col-6 col-md-3">
            
                    <div class="contenedor-imagenes" style="margin-top:30px;">
            
                        <a href="default.asp"><img src="../../../assets/home/edit.png" class="" alt="Responsive image">Modificar</a>&nbsp; &nbsp; &nbsp; <a href="default.asp"><img src="../../../assets/home/trash.png" class="" alt="Responsive image" style="width: 30px;">Eliminar</a></div>
            
                        </div>
            
                </div>
            
                 <hr style="margin-top:20px;">
            
                 <div class="row">
            
                 <div class="col-6 col-md-2" style="text-align:center;"><img src="../../../assets/home/direcciones.png" class="" alt="Responsive image" style="width:60px; margin-top:15px; margin-left: 35px;"></div>
                <div class="col-6 col-md-7">
                    <p style="color:black; font-size:25px; ">Coyotepec 3</p>
                    <p style="color:rgb(126, 126, 126); font-size:20px; margin-top: -20px;">Código postal 54740 - Estado De México - Cuautitlan Izcalli
                        Cristopher Velazquez Hernandez - 5532067806</p>
            
                
                </div>
                <div class="col-6 col-md-3">
            
                    <div class="contenedor-imagenes" style="margin-top:30px;">
            
                        <a href="default.asp"><img src="../../../assets/home/edit.png" class="" alt="Responsive image">Modificar</a>&nbsp; &nbsp; &nbsp; <a href="default.asp"><img src="../../../assets/home/trash.png" class="" alt="Responsive image" style="width: 30px;">Eliminar</a></div>
            
                        </div>
            
                </div>
                </div>
            
                <hr style="margin-top:20px; margin-left: 10px;">
                 
                <div style="text-align:center;">
            
            
            
                            <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-secondary border border-1 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Agregar una Nueva Dirección
                                </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Direcciones</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                 
            
            
                                            
                                        <div class="form-group"> <!-- Full Name -->
                                            <label for="full_name_id" class="control-label">Nombre Completo</label>
                                            <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="John Doe">
                                        </div>    
                                    
                                        <div class="form-group"> <!-- Street 1 -->
                                            <label for="street1_id" class="control-label">Dirección</label>
                                            <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Calle y  Colonia">
                                        </div>                    
                                                                
                                        <div class="form-group"> <!-- City-->
                                            <label for="city_id" class="control-label">Ciudad</label>
                                            <input type="text" class="form-control" id="city_id" name="city" placeholder="México">
                                        </div>                                    
                                                                
                                        <div class="form-group"> <!-- State Button -->
                                            <label for="state_id" class="control-label">Estado</label>
                                            <select class="form-control" id="state_id">
                                                <option value="no">Seleccione uno...</option>
                                                <option value="Aguascalientes">Aguascalientes</option>
                                                <option value="Baja California">Baja California</option>
                                                <option value="Baja California Sur">Baja California Sur</option>
                                                <option value="Campeche">Campeche</option>
                                                <option value="Chiapas">Chiapas</option>
                                                <option value="Chihuahua">Chihuahua</option>
                                                <option value="CDMX">Ciudad de México</option>
                                                <option value="Coahuila">Coahuila</option>
                                                <option value="Colima">Colima</option>
                                                <option value="Durango">Durango</option>
                                                <option value="Estado de México">Estado de México</option>
                                                <option value="Guanajuato">Guanajuato</option>
                                                <option value="Guerrero">Guerrero</option>
                                                <option value="Hidalgo">Hidalgo</option>
                                                <option value="Jalisco">Jalisco</option>
                                                <option value="Michoacán">Michoacán</option>
                                                <option value="Morelos">Morelos</option>
                                                <option value="Nayarit">Nayarit</option>
                                                <option value="Nuevo León">Nuevo León</option>
                                                <option value="Oaxaca">Oaxaca</option>
                                                <option value="Puebla">Puebla</option>
                                                <option value="Querétaro">Querétaro</option>
                                                <option value="Quintana Roo">Quintana Roo</option>
                                                <option value="San Luis Potosí">San Luis Potosí</option>
                                                <option value="Sinaloa">Sinaloa</option>
                                                <option value="Sonora">Sonora</option>
                                                <option value="Tabasco">Tabasco</option>
                                                <option value="Tamaulipas">Tamaulipas</option>
                                                <option value="Tlaxcala">Tlaxcala</option>
                                                <option value="Veracruz">Veracruz</option>
                                                <option value="Yucatán">Yucatán</option>
                                                <option value="Zacatecas">Zacatecas</option>
                                            </select>                    
                                        </div>
                                        
                                        <div class="form-group"> <!-- Zip Code-->
                                            <label for="zip_id" class="control-label">Zip Code</label>
                                            <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
                                        </div>        
                                        
                                
            
            
            
            
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                    
            
            
            
                    
            
            </div>


        </div>
        </div>
      </div>
  </div>


</div>




