
<br><div class="container">

  

    <div style="text-align:center;">
      <h1>ADATA</h1>

      <div class="contenedor">
        <div class="row" style="width:550px; text-align: center;">
          
          <div class="col-sm-4"><p class="texto">Saldo:<span style="font-weight: bold; color: black;"> $500</span></p></div>
          <div class="col-sm-4" style="margin-top:15px;">

            <button type="button" class="btn2 btn-secondary btn-sm">Agregar Fondos 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16" style="margin-top:-5px;">
              <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
              <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg></button>

          </div>

          <div class="col-sm-4" style="margin-top:15px;">

            <button type="button" class="btn2 btn-secondary btn-sm">Retirar Fondos 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg></button>

          </div>
  
        </div>
      </div>
    
      
    <span>Reputación:<img src="../../../assets/home/star.png" alt="..." style="margin-top:-5px; margin-left: 5px;"><img src="../../../assets/home/star.png" alt="..." style="margin-top:-5px; margin-left: 5px;"><img src="../../../assets/home/star.png" alt="..." style="margin-top:-5px; margin-left: 5px;"><img src="../../../assets/home/star.png" alt="..." style="margin-top:-5px; margin-left: 5px;"><img src="../../../assets/home/star.png" alt="..." style="margin-top:-5px; margin-left: 5px;">
    </span>
    </div>

<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <p style="margin-top:-2px;"> <img src="../../../assets/home/Filtro.png" alt="..."><span style="margin-left:20px">Filtrar por:</span></p>
    <li class="nav-item" role="presentation" style="margin-left: 20px;">
      <button class="nav-link active" id="nombre-tab" data-bs-toggle="tab" data-bs-target="#nombre-tab-pane" type="button" role="tab" aria-controls="nombre-tab-pane" aria-selected="false">Nombre</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="estado-tab" data-bs-toggle="tab" data-bs-target="#estado-tab-pane" type="button" role="tab" aria-controls="estado-tab-pane" aria-selected="false">Estado</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="categoria-tab" data-bs-toggle="tab" data-bs-target="#categoria-tab-pane" type="button" role="tab" aria-controls="categoria-tab-pane" aria-selected="false">Categoria</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="condicion-tab" data-bs-toggle="tab" data-bs-target="#condicion-tab-pane" type="button" role="tab" aria-controls="condicion-tab-pane" aria-selected="false">Condición</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="fecha-tab" data-bs-toggle="tab" data-bs-target="#fecha-tab-pane" type="button" role="tab" aria-controls="fecha-tab-pane" aria-selected="false">Fecha</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="venta-tab" data-bs-toggle="tab" data-bs-target="#venta-tab-pane" type="button" role="tab" aria-controls="venta-tab-pane" aria-selected="false">Ventas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="precio-tab" data-bs-toggle="tab" data-bs-target="#precio-tab-pane" type="button" role="tab" aria-controls="precio-tab-pane" aria-selected="false">Precio</button>
      </li>
      


      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ordenar
        </a>
      
        <ul class="dropdown-menu">
          <li><p class="dropdown-item2">Stock

          </p></li>
          <li><a class="dropdown-item" href="#">Ascendiente 
            <img src="../../../assets/home/az.svg" alt="insertar SVG con la etiqueta image" style="width:16px;">
          </a></li>
          <li><a class="dropdown-item" href="#">Descenciente
            <img src="../../../assets/home/za.svg" alt="insertar SVG con la etiqueta image" style="width:16px;">
          </a></li>
          <li><p class="dropdown-item2">Título




          </p></li>
          <li><a class="dropdown-item" href="#">Ascendiente 
            <img src="../../../assets/home/az.svg" alt="insertar SVG con la etiqueta image" style="width:16px;">
          </a></li>
          <li><a class="dropdown-item" href="#">Descenciente
            <img src="../../../assets/home/za.svg" alt="insertar SVG con la etiqueta image" style="width:16px;">
          </a></li>
          <li><p class="dropdown-item2">Articulo 



          </p></li>
          <li><a class="dropdown-item" href="#">Ascendiente 
            <img src="../../../assets/home/az.svg" alt="insertar SVG con la etiqueta image" style="width:16px;">
          </a></li>
          <li><a class="dropdown-item" href="#">Descenciente
            <img src="../../../assets/home/za.svg" alt="insertar SVG con la etiqueta image" style="width:16px;">
          </a></li>

        </ul>
        
        
      </div>




  </ul>
  <div class="tab-content" id="myTabContent" style="text-align:center;">
    <div class="tab-pane fade show active" id="nombre-tab-pane" role="tabpanel" aria-labelledby="nombre-tab" tabindex="0" style="text-align:center;">



      <div class="input-group" style="width:50%; margin-left: 330px;">
        <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Filtrar</button>
      </div>



    </div>
    <div class="tab-pane fade" id="estado-tab-pane" role="tabpanel" aria-labelledby="estado-tab" tabindex="0">

 <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
        <label class="form-check-label" for="inlineRadio2">Pausada</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
        <label class="form-check-label" for="inlineRadio1">Activa</label>
      </div>
     
     


    </div>
    <div class="tab-pane fade" id="categoria-tab-pane" role="tabpanel" aria-labelledby="categoria-tab" tabindex="0">

    
          <label class="btn btn-primary btn-sm">
            <input type="checkbox" autocomplete="off" checked>Tecnología
          </label>
          <label class="btn btn-primary btn-sm">
            <input type="checkbox" autocomplete="off" checked>Moda
          </label>
          <label class="btn btn-primary btn-sm">
            <input type="checkbox" autocomplete="off" checked>Construcción
          </label>
          <label class="btn btn-primary btn-sm">
            <input type="checkbox" autocomplete="off" checked>Inmuebles
          </label>
          <label class="btn btn-primary btn-sm">
            <input type="checkbox" autocomplete="off" checked>Autos
          </label>
          <label class="btn btn-primary btn-sm">
            <input type="checkbox" autocomplete="off" checked>Bebes
          </label>




    </div>
    <div class="tab-pane fade" id="condicion-tab-pane" role="tabpanel" aria-labelledby="condicion-tab" tabindex="0">
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="flexRadioDefault1" id="flexRadioDefault4" checked>
        <label class="form-check-label" for="flexRadioDefault4">
          Nuevo
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="flexRadioDefault1" id="flexRadioDefault5" checked>
        <label class="form-check-label" for="flexRadioDefault5">
          Seminuevo
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="flexRadioDefault1" id="flexRadioDefault6" checked>
        <label class="form-check-label" for="flexRadioDefault6">
          Usado
        </label>
      </div>



    </div>
    <div class="tab-pane fade" id="fecha-tab-pane" role="tabpanel" aria-labelledby="fecha-tab" tabindex="0">
      
     

  
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <label for="startDate"><p class="TextoGradiente">Incio</p></label>
                <input id="startDate" class="form-control" type="date" />
                <span id="startDateSelected"></span>
            </div>
            <div class="col-lg-3 col-sm-6">
                <label for="endDate"><p class="TextoGradiente">Termino</p></label>
                <input id="endDate" class="form-control" type="date" />
                <span id="endDateSelected"></span>
            </div>
        </div>

        <div class="mx-auto" style="width: 250px; margin-top:5px;">

          <div class="card">
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="float:right;">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg><br>
              <p>Del <time datetime="2001-05-15T19:00">15 de Mayo 2022</time> al <time datetime="2001-05-15T19:00">23 de Noviembre 2022</time></p>

            </div>
        </div>
    </div>








    </div>
    <div class="tab-pane fade" id="venta-tab-pane" role="tabpanel" aria-labelledby="venta-tab" tabindex="0">
      <div>

<app-rangeventa></app-rangeventa>

        

<div class="mx-auto" style="width: 200px; margin-top:5px;">

  <div class="card">
    <div class="card-body">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="float:right;">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg><br>
      <p>De 0 a 1000 Ventas</p>

    </div>
</div>
</div>





  </div>
  </div>

    <div class="tab-pane fade" id="precio-tab-pane" role="tabpanel" aria-labelledby="precio-tab" tabindex="0">
      <div>
    <app-rangeprecio></app-rangeprecio>


    <div class="mx-auto" style="width: 200px; margin-top:5px;">

      <div class="card">
        <div class="card-body">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="float:right;">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg><br>
          <p>De 50 a 5000 Pesos</p>

        </div>
    </div>
</div>

        
  </div>
</div>

