<div class="container">

    
    
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item dropdown" style="margin-top:5px;">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li style="margin-left:450px;"><img src="../assets/home/logo.png" alt="...">
              </li>
              <li style="margin-left:190px; margin-top:5px;"><img src="../assets/home/carrito.png" alt="...">
              </li>
              <li>
                <a class="btn btn-primary" href="#" role="button">Vender</a>
              </li>
              <li>
                <a class="btn btn-primary" href="#" role="button">Iniciar sesión</a>
            </li>
              
            </ul>
            
            
          </div>
        </div>
      </nav>
      <hr style="margin-top:5px;">


      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary" style="margin-top:0px;">Buscar</button>
      </div>

      
      <!--<form class="d-flex" role="search" style="margin: auto; width: 800px; margin-top:50px;">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <a class="btn btn-primary" href="#" role="button">Buscar</a>
      </form>-->
 


</div>
