.btn {
    background-image: linear-gradient(-45deg, #28348A, #662482);
    border:0px;
    width:150px;
    margin-top:5px;
    margin-left:20px;
    color: white;
    }
    
    .form-control {
        border-radius: 0px; /*1*/
        border-color: #662482;
        border: 2px solid transparent; /*2*/
        background: linear-gradient(-45deg, #28348A, #662482); /*3*/
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/


    }

