.btn {
    background-image: linear-gradient(-45deg, #28348A, #662482);
    border:0px;
    width:150px;
    margin-top:5px;
    margin-left:20px;
    color: white;
    }
    


.center {
    margin: auto;
    padding: 10px;
    }




.btn2 {
    background-image: linear-gradient(-45deg, #28348A, #662482);
    width:150px;
    height: 40px;
    color: white;
    }
            
.form-control {
    border: 2px;
    height: 35px;
    position: relative;
    color:rgb(0, 0, 0);
    background: transparent;  
    box-shadow: 
        -1px -1px 0 1px #28348A,
        1px 1px 0 1px #662482,
        1px 1px 0 1px #662482,
        -1px -1px 0 1px #28348A;
    }
        
                
        

        